<!-- Footer -->
<footer style="position: absolute; bottom: 0; left: 0; width: 100%;">
  <!-- Signature Block -->
  <div style="width: 80%; margin: 0 auto; text-align: right; padding: 80px 40px;">
    <img src="{{signature}}" alt="Signature" style="width: 700px; margin-top: 10px; padding-left: 70%;" />
    <p style="font-size: 50px; margin-top: 5px; padding-right: 100px;">Sundaram.S.V</p>
    <p style="font-size: 60px; margin-top: 0;">Authorized Signature</p>
  </div>

  <!-- Location and Copyright -->
  <div style="background-color: #444; padding: 40px; text-align: center;">
    <p style="margin: 0; font-size: 60px; color: #ffffff;">Location</p>
    <p style="margin: 0; font-size: 40px; color: #ffffff;">No:33, Pushpa Street,</p>
    <p style="margin: 0; font-size: 40px; color: #ffffff;">Venkateshwara Nagar, Ambattur, Chennai - 600053</p>
    <p style="margin: 0; font-size: 28px; color: #ffffff; padding-top: 20px;">&copy; 2025 Mithzy. All rights reserved.</p>
  </div>
</footer>
</div>
</body>
</html>
