<!-- view/partials/header.html -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=2480px, initial-scale=1.0"/>
  <title>Mithzy</title>
</head>
<body style="margin: 0; padding: 0;">
  <div style="width: 2480px; height: 3508px; position: relative; font-family: Arial, sans-serif; box-sizing: border-box; padding: 40px;">

    <!-- Header -->
    <div style="background-color: #444;width: 100%;">
      <img src="{{logo}}" alt="Shop Logo" style="width: 450px;" />
      <div style="text-align: center; float: right; padding-right: 40%; padding-top: 70px;">
        <h6 style="margin: 0; font-size: 80px; color: #ffffff;">MITHZY</h6>
        <h6 style="margin: 10px 0 0; font-size: 36px; color: #ffffff;">Buzz the Future Magic...!!!!</h6>
      </div>
    </div>
